{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "semicolon": true
}